.text-black{
	color:$color_black;
}

.text-orange{
	color:$color_orange;
}

.text-lighten{
	color:$color_text-gray;
}

.text-caps{
	text-transform:uppercase;
}

.lato{
	font-family:$lato;
}

.text-page{
	font-style: $font-style-italic;
	color:$color_text-gray;
	font-family:$georgia;
}
.subtext-page{
	font-family:$georgia;
	color:$color_product_title;
}

.text-label{
	color:$color_product_title;
}

.is-hidden{
	display:none;
}

.is-inline{
	display:inline-block;
}

%is-pointer{
	cursor:pointer;
}

.is-relative{
	position:relative;
}

.link-underline-text{
	color:$color_orange;
	font-family:$lato;
	font-size:$font-size-default;
	text-decoration:underline;
	@include condition-block{
		color:lighten($color_orange, 10%);
	}
}

.link-underline{
	color:$color_product_title;
	font-family:$lato;
	font-size:$font-size-default;
	text-decoration:underline;
	@include condition-block{
		color:lighten($color_product_title, 25%);
	}
}

.link__page{
	font-size:$font-size-xs;
	color:$color_orange;
	font-family:$lato;
	@include condition-block{
		color:lighten($color_orange, 10%);
		text-decoration:none;
	}
}

.is-table{
	display:table;
	.is-row{
		display:table-row;
	}
	.is-cell{
		display:table-cell;
		&.is-top{
			vertical-align:top;
		}
		&.is-middle{
			vertical-align:middle;
		}
	}
}

.text-invite{
	line-height:35px;
}

.text-truncate{
	width: 280px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}