$counter: 25;
@for $i from 0 through $counter {
  .m-#{5*$i} { margin: 5px * $i }
  .m-t#{5*$i} { margin-top: 5px * $i }
  .m-tr#{5*$i} { margin-top: 5px * $i; margin-right: 5px * $i; }
  .m-tb#{5*$i} { margin-top: 5px * $i; margin-bottom: 5px * $i; }
  .m-tl#{5*$i} { margin-top: 5px * $i; margin-left: 5px * $i; }
  .m-r#{5*$i} { margin-right: 5px * $i; }
  .m-rb#{5*$i} { margin-right: 5px * $i; margin-bottom: 5px * $i;}
  .m-rl#{5*$i} { margin-right: 5px * $i; margin-left: 5px * $i;}
  .m-l#{5*$i} { margin-left: 5px * $i; }
  .m-bl#{5*$i} { margin-left: 5px * $i; margin-bottom: 5px * $i;}
  .m-b#{5*$i} { margin-bottom: 5px * $i;}
}

@for $i from 0 through $counter {
  .p-#{5*$i} { padding: 5px * $i; }
  .p-t#{5*$i} { padding-top: 5px * $i; }
  .p-tr#{5*$i} { padding-top: 5px * $i; padding-right: 5px * $i; }
  .p-tb#{5*$i} { padding-top: 5px * $i; padding-bottom: 5px * $i; }
  .p-tl#{5*$i} { padding-top: 5px * $i; padding-left: 5px * $i; }
  .p-r#{5*$i} { padding-right: 5px * $i; }
  .p-rb#{5*$i} { padding-right: 5px * $i; padding-bottom: 5px * $i;}
  .p-rl#{5*$i} { padding-right: 5px * $i; padding-left: 5px * $i;}
  .p-l#{5*$i} { padding-left: 5px * $i; }
  .p-bl#{5*$i} { padding-left: 5px * $i; padding-bottom: 5px * $i;}
  .p-b#{5*$i} { padding-bottom: 5px * $i;}
}