footer.footer
	.container
		.row
			.col-sm-3
				h4.text-caps Product catalog
				ul
					li 
						a(href="") Publishing
					li 
						a(href="") Technology
					li 
						a(href="") Crafts
					li 
						a(href="") Design
					li 
						a(href="") Game
			.col-sm-3
				h4.text-caps Shop
				ul
					li 
						a(href="") How it works
					li 
						a(href="") About Us
					li 
						a(href="") Contact Us
					li 
						a(href="") Policies
					li 
						a(href="") Site map

			.col-md-3
			.col-md-3.col-sm-6
				ul.pull-sm-right.social
					li.social__item
						a.social__item__link(href="")
							i.fa.fa-twitter
					li.social__item
						a.social__item__link(href="")
							i.fa.fa-facebook
					li.social__item
						a.social__item__link(href="")
							i.fa.fa-instagram
		.copyright
			p.copyright__text
				| © Styli.ST 2015