script(src="http://code.jquery.com/jquery.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
script(src="js/slick.min.js")
script(src="js/functions.js")
script(src="js/scripts.js")