header.header.clearfix
	.container.header__content
		a.logo(href="")
			| styli.st
		button.btn.btn-menu
			i.icon-menu
			span Menu
		ul.menu.menu-right
			li.menu__item
				a.menu__item__link(href="")
					i.icon-plus
					span Sell
			li.menu__item
				a.menu__item__link(href="")
					i.icon-user
					span login
			li.menu__item
				a.menu__item__link(href="")
					i.icon-cart
					span cart
			li.menu__item
				a.menu__item__link(href="")
					button.btn.btn-search
						i.fa.fa-search
		ul.menu
			li.menu__item
				a.menu__item__link(href="")
					| Product catalog
			li.menu__item
				a.menu__item__link(href="")
					| Contact Us
			li.menu__item
				a.menu__item__link(href="")
					| Our vendors
			li.menu__item
				a.menu__item__link(href="")
					| How it works