head
 block title
  title Styli.st
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  link(href="favicon.ico", rel="shortcut icon", type="image/x-icon")
  link(rel="stylesheet",href="css/bootstrap.css")
  link(rel="stylesheet",href="css/main.css")
  link(href='https://fonts.googleapis.com/css?family=Lato:400,700,300', rel='stylesheet', type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet', type='text/css')
  link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
  script(src="https://code.jquery.com/jquery.min.js")
  script(src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js")