.col-md-3.sidebar
	ul.breadcrumbs
		li.breadcrumbs__item
			a.breadcrumbs__item__link(href="")
				| home
		li.breadcrumbs__item
			| product catalog
	h5.m-t40
		strong Category
	.form-group
		select.form-control
			option(value="") Films
			option(value="") Games
	h4
		strong Seller's Information
	h5.m-t20
		strong Garment Shop
	a.link-underline-text(href="")
		| United States, United States
	button.btn.btn-primary.m-t20
		| VIEW PROFILE
	.map
		iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193571.4382894554!2d-74.11808616897069!3d40.70582536300672!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2z0J3RjNGOLdCZ0L7RgNC6LCDQodCo0JA!5e0!3m2!1sru!2sby!4v1452784582101", width="100%", height="100%", frameborder="0", style="border:0", allowfullscreen)
	a.link-underline-text(href="")
		| View Location On Map