.col-md-3.sidebar
	h3.sidebar__title
		| Campaigns
	ul.sidebar__list
		li.sidebar__list__item
			a.sidebar__list__item__link(href="")
				| New Campaign
		li.sidebar__list__item
			a.sidebar__list__item__link(href="")
				| My campaigns
		li.sidebar__list__item
			a.sidebar__list__item__link(href="")
				| PayPal Account
	h3.sidebar__title
		| Market Place
	ul.sidebar__list
		li.sidebar__list__item
			a.sidebar__list__item__link(href="")
				| Seller Profile
		li.sidebar__list__item
			a.sidebar__list__item__link(href="")
				| Create Attribute
		li.sidebar__list__item
			a.sidebar__list__item__link(href="")
				| New Products
		li.sidebar__list__item
			a.sidebar__list__item__link(href="")
				| My Product List
		li.sidebar__list__item
			a.sidebar__list__item__link(href="")
				| My Dashboard
		li.sidebar__list__item
			a.sidebar__list__item__link(href="")
				| My Transaction List
		li.sidebar__list__item
			a.sidebar__list__item__link(href="")
				| My Order History
	h3.sidebar__title
		| My Account Place
	ul.sidebar__list
		li.sidebar__list__item
			a.sidebar__list__item__link(href="")
				| Account Dashboard
		li.sidebar__list__item
			a.sidebar__list__item__link(href="")
				| Account Information
		li.sidebar__list__item
			a.sidebar__list__item__link(href="")
				| Address Book
		li.sidebar__list__item
			a.sidebar__list__item__link(href="")
				| My Orders
		li.sidebar__list__item
			a.sidebar__list__item__link(href="")
				| Invite Friends
		li.sidebar__list__item
			a.sidebar__list__item__link(href="")
				| Billing Agreements
		li.sidebar__list__item
			a.sidebar__list__item__link(href="")
				| My Product Reviews
		li.sidebar__list__item
			a.sidebar__list__item__link(href="")
				| My Wishlist
		li.sidebar__list__item
			a.sidebar__list__item__link(href="")
				| Newsletter Subscriptions