.breadcrumbs{
	padding-left:0;
	&__item{
		list-style:none;
		display:inline-block;
		color:$color_text-gray;
		font-family:$lato;
		font-size:$font-size-xs;
		text-transform: uppercase;
		&__link{
			color:$color_text-gray;
			font-family:$lato;
			font-size:$font-size-xs;
			text-transform: uppercase;
			@include condition-block{
				color:$color_orange;
				text-decoration:none;
			}
		}
		&:after{
			content:'/';
			color:$color_text-gray;
			font-family:$lato;
			padding-left:10px;
			padding-right:10px;
			position:relative;
			top:1px;
		}
		&:last-child{
			color:$color_orange;
			&:after{
				content:'';
			}
		}
	}
}