.cart-table, .campaign-table{
	width:100%;
	margin-bottom:20px;
	thead{
		tr{
			border-bottom:1px solid $color_light_border;			
			th{
				color:$color_cart_head;
				font-family:$lato;
				font-size:$font-size-xs;
				text-transform:uppercase;
				padding-bottom:5px;
			}
		}
	}
	tbody{
		tr{
			border-bottom:1px solid $color_light_border;
			td{
				padding-top:20px;
				padding-bottom:20px;
				padding-right:10px;
				font-family:$lato;
				color:$color_product_title;
				font-size:$font-size-default;
				.product-image{
					height:155px;
					display:block;					
					position:relative;
					overflow:hidden;
					width:220px;
					img{						
						position:absolute;
						top:0;
						left:0;
						right:0;
						bottom:0;
						margin:0 auto;
						max-width:100%;
						height:100%;
					}
					&.list-image{
						width:100px;
						height:75px;
					}	
				}
				.fa{
					margin-right:10px;
					color:$color_product_title;
					font-size:$font-size-default;
					@extend %is-pointer;
					&:last-child{
						margin-right:0;
					}
					&:hover{
						color:lighten($color_product_title, 25%);
						@include transform(scale(1.03));
					}					
				}
				a{
					@include condition-block{
						text-decoration:none;
					}
				}
				.product-name{
					margin-top:0;
					a{
						font-size:$font-size-default;
						color:$color_black;
						font-family:$lato;
						text-transform:uppercase;
						font-weight:$font-weight-bold;
						@include condition-block{
							color:$color_orange;
						}
					}					
				}
				.product-option{
					font-size:$font-size-xs;
					color:$color_text-gray;
					text-transform: uppercase;
					span{
						color:$color_cart_head;
					}
				}
				&.product__image{
					width:240px;
				}
				&.product__amount{
					text-align:center;
				}
				&:last-child{
					padding-right:0;
				}
				&.product__control{
					.fa{
						padding:5px;
					}
				}
			}
		}
	}
	tfoot{
		tr{			
			td{
				background-color:$color_tfoot;
				padding-top:20px;
				padding-bottom:20px;
				padding-left:5px;				
			}
		}
	}
}