.footer{
	border-top:1px solid $color_foo_border;
	padding-top:40px;
	margin-top:-244px;
	.copyright{
		text-align:center;
		padding-top:20px;
		padding-bottom:10px;
		&__text{
			color:rgba($color_black, 0.4);
		}
	}
	ul{
		padding-left:0;
		li{
			list-style:none;
			a{
				color:$color_product_title;
				font-size:$font-size-xs;
				font-family:$lato;
				@include condition-block{
					text-decoration:none;
					color:$color_orange;
				}
			}
		}
	}
	[class*='col-']{
		border-right:1px solid $color_foo_border;
		padding-left:40px;
		&:last-child{
			border-right:none;
		}
		&:first-child{
			padding-left:15px;
		}
	}
	.social{
		text-align:center;
		padding-left:0;
	}
}