.header{
	padding-top:40px;
	padding-bottom:40px;
	border-bottom:1px solid $color_border;
	.logo{
		display:block;
		float:left;
		padding:10px 20px;
		background-color:$color_logo_bg;
		color:$color_white;
		font-size:$font-size-h4-title;
		text-transform: uppercase;
		@include condition-block{
			text-decoration:none;
		}
	}
	&__content{
		position:relative;
	}
	&__alert{
		background-color:$color_orange;
		padding-top:20px;
		padding-bottom:20px;
		&__text{
			color:$color_white;
			font-family: $lato;
			margin-bottom:0;
		}
	}
}

.menu{
	padding-left:0;
	text-align:center;
	margin-top:20px;
	margin-bottom:0;
	&__item{
		list-style:none;
		display:inline-block;
		&__link{
			padding:0 10px;
			color:$color_black;
			text-transform:uppercase;
			font-family:$lato;
			font-size:$font-size-default;
			[class*='icon']{
				margin-right:10px;
				position:relative;
				top:3px;
			}
			@include condition-block{
				text-decoration:none;
				color:$color_orange;
				.icon-plus{
					@include icon-sprite(plus_hover);
				}
				.icon-user{
					@include icon-sprite(user_hover);
				}
				.icon-cart{
					@include icon-sprite(cart_hover);
				}
			}			
		}
	}
	&.menu-right{
		float:right;
		margin-top:16px;
	}
}