.updates__content{
	background-color:$color_light_blue;
	border-top:1px solid $color_blue;
	border-bottom:1px solid $color_blue;
	padding-top:20px;
	padding-bottom:40px;
	&__title{
		color:$color_black;
		font-weight:$font-weight-bold;
		text-transform:uppercase;
		font-size:$font-size-h1-title;
		font-family:$lato;
	}
	&__text{
		color:$color_text-gray;
		font-size:$font-size-h5-title;
		font-family:$georgia;
		font-style:$font-style-italic;
	}
	&__group{
		margin-top:20px;
		.form-control{
			border-top:1px solid $color_border_form;
			border-left:1px solid $color_border_form;
			border-bottom:1px solid $color_border_form;
			border-right:none;
			padding:10px;
			height:auto;
			background-color:$color_light_blue;
			font-style:$font-style-italic;
			color:$color_text-gray;
			font-family:$georgia;
			font-size:$font-size-default;
			@include box-shadow(none);
			@include border-radius(0);
			@include placeholder{
				font-style:$font-style-italic;
				color:$color_text-gray;
				font-family:$georgia;
				font-size:$font-size-default;
			}
		}
		.btn-default{
			padding:10px 40px;
			background-color:$color_orange;
			color:$color_white;
			border:1px solid darken($color_orange, 10%);
			font-family: $lato;
			font-size:$font-size-default;
			@include border-radius(0);
			@include condition-block{
				background-color:darken($color_orange, 10%);
				color:$color_white;
			}
		}
	}
}