body{
	font-family:$open-sans;
	font-size:$font-size-default;
	color:$color_black;
}

.page__title{
	font-family:$open-sans;
	color:$color_black;
	text-transform:uppercase;
	font-size:$font-size-page;
	font-weight:$font-weight-semibold;
	margin-bottom:40px;
}

html, body{
	height:100%;
}
a{
	@include condition-block{
		outline:none;
	}
}
.wrapper{
	min-height: 100%;
    padding-bottom: 244px;
}

.social{
	margin-left:0;
	padding-left:0;
	&__item{
		display:inline-block;
		&__link{
			border:1px solid $color_dark_gray;
			padding:9px;
			margin-right:10px;
			width:36px;
			height:36px;
			display:block;
			text-align:center;
			@include transition(.3s ease);
			.fa{
				color:$color_dark_gray;
				font-size:$font-size-h6-title;
			}
			@include condition-block{
				text-decoration:none;
				background-color:$color_orange;
				border:1px solid $color_orange;
				.fa{
					color:$color_white;
				}
			}
		}
		&:last-child{
			.social__item__link{
				margin-right:0;
			}
		}
	}
}

.page-content{
	padding-top:40px;
	padding-bottom:60px;
}

.banner__multi{
	background-color:$color_banner_multi;
	margin-top:10px;
	img{
		max-width:100%;
	}
}

.map{
	height:200px;
	margin-top:20px;
	margin-bottom:20px;
}