.modal{
	&-content{
		@include border-radius(0);
		@include box-shadow(0 5px 15px rgba(0,0,0,0.2));
	}
	&-body{
		padding:30px;
	}
	&-backdrop{
		background-color:$color_white;
		bottom:0;
		&.in{
			@include opacit(0.7);
		}
	}
	.close{
		font-size:$font-size-h3-title;
		position:absolute;
		top:10px;
		right:10px;
		@include condition-block{
			outline:none;
		}
	}
}