@for $i from 1 through 100{
	.progress[data-progress="#{$i}"]{	
		.progress-line{
			width:1% * $i;
		}
	}
}
.progress{
	width:100%;
	height:6px;
	background-color:$color_dark_gray;
	position:relative;
	margin-bottom:20px;
	&-line{
		position:absolute;
		top:0;
		left:0;
		height:6px;
		background-color:$color_orange;
	}
}