.product{
	display:block;
	margin-bottom:20px;
	&__picture{
		height:280px;
		overflow:hidden;
		position:relative;
		border:1px solid $color_border;
		background-size:cover;
		&__img{
			position:absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
			margin:auto;
			max-width: 100%;
		}
	}
	&__content{
		border-left:1px solid $color_border;
		border-right:1px solid $color_border;
		border-bottom:1px solid $color_border;
		padding:20px;		
		&__title{
			margin-top:0;
			font-family:$lato;
			color:$color_product_title;
			font-weight:$font-weight-bold;
			width:290px;
			@include truncate;
		}
		&__category{
			color:$color_product_title;
			font-family:$lato;
			font-size:$font-size-default;
		}
		&__price{
			font-style:$font-style-italic;
			font-size:$font-size-h5-title;
			color:$color_product_title;
			font-family:$lato;
		}
	}
	@include condition-block{
		text-decoration:none;
		@include transform(scale(1.03));
		@include transition(0.3s ease);
		@include box-shadow(0 0 20px rgba(0,0,0,0.2));
		*{
			text-decoration:none;
		}
	}
}