.quantity{
	&__block{
		display:block;
		width:70px;
		height:42px;
	}
	&__decrement,
	&__increment{
		width:20px;
		height:20px;
		background-color:$color_product_title;
		color:$color_white;
		text-align:center;
		position:absolute;
		right:0;
		display:block;
		font-size:$font-size-default;
		font-family:$open-sans;
		z-index:2;
		padding:0;
		line-height:$font-size-strong;
		border:1px solid $color_product_title;
		@include condition-block{
			background-color:$color_white;
			color:$color_black;
		}
		&:disabled{
			background-color:$color_white;
			color:$color_black;
			cursor:not-allowed;
		}
	}
	&__decrement{
		bottom:0;
	}
	&__increment{
		top:0;		
	}
	& &__control{
		width:50px;
		height:100%;
		border:none;
		outline:none;
		text-align:center;
		font-family:$lato;
		color:$color_product_title;
		font-size:$font-size-default;
		@include box-shadow(none);
	}
}