@media all and (min-width:1200px){}

@media all and (max-width:1199px) and (min-width:992px){
	.menu__item__link{
		font-size:$font-size-xs;
	}
}

@media all and (min-width:992px){
	.btn-menu{
		display:none;
	}	
}

@media all and (max-width:992px){
	.header{
		padding-top:20px;
		padding-bottom:20px;
		.logo{
			width:130px;
			text-align:center;
			float:none;
			margin-bottom:10px;
		}
	}
	.btn-menu{
		display:block;
		float:left;
		background-color:$color_orange;
		padding:10px;
		color:$color_white;
		font-family:$lato;
		font-size:$font-size-sm;
		[class*='icon']{
			margin-right:10px;
		}
		span{
			position:relative;
			top:-5px;
		}
		@include border-radius(0);
		@include condition-block{
			background-color:lighten($color_orange, 10%);
			color:$color_white;
		}
	}
	.menu{
		&:not(.menu-right){
			display:none;
			position:absolute;
			top:100%;
			left:15px;
			right:15px;
			z-index:5;
			margin-top:0;
			padding-top:10px;
			padding-bottom:15px;
			background-color:$color_orange;
			.menu__item{
				display:block;
				&__link{
					padding:10px;
					text-align:left;
					display:block;
					color:$color_white;
					text-transform:none;
					position:relative;
					&:after{
						height:2px;
						position:absolute;
						bottom:-2px;
						left:10px;
						right:10px;
						content:'';
						background-color:$color_white;
					}
					@include condition-block{
						background-color:$color_white;
						color:$color_orange;
						&:after{
							height:0;
						}
					}					
				}
			}
		}
		&.menu-right{
			margin-top:13px;
		}
	}
}

@media all and (min-width:768px) and (max-width:992px){}

@media all and (min-width:768px){
	.title-border{
		position:relative;		
		&.more__title{
			&:after{
				position:absolute;
				bottom:-1px;
				right:-30px;
				height:1px;
				width:30px;
				content:'';
				background-color: $color_foo_border;
			}
		}
	}
}

@media all and (max-width:767px){
	.btn-update{
		padding-left:0;
		padding-right:0;
		margin-right:10px;
		margin-top:10px;
	}

	.text-truncate{
		width:auto;
		white-space:normal;
	}

	.responsive-table{
		display:block;
		.table-head { display: none; }		
		tbody{
			display:block;
			tr{
				@include clearfix();
				display:block;
				td {
					display: block;
					text-align: left;
					border-width: 0 !important;
					padding-right:0;
					padding-top:5px;
					padding-bottom:5px;
					&.product__image{
						width:100%;
						padding-top:10px;
						.product-image{	
							width:auto;				
							margin-left:auto;
							margin-right:auto;
							height:auto;
							img{
								position:static;
								height:auto;
							}
						}
					}
					&.product__name,
					&.product__amount{
						width:50%;
						float:left;
						text-align:left;
						clear:left;
					}
					&.product__qty,
					&.product__control{
						width:50%;
						float:right;
						text-align:right;
						padding-bottom:20px;
					}
					.quantity{
						float:right;
					}
					&.campaign__cell{
						width:50%;
						p{
							padding-top:10px;
							margin-bottom:0;
						}						
						&:nth-child(odd){
							float:left;
							clear: left;
						}
						&:nth-child(even){
							float:right;
							clear: right;
						}
						.campaign-checkbo{
							display:inl
						}
					}
			    }
			}
		}
		tfoot{
			display:block;
			width:100%;
			tr{
				@include clearfix();
				display:block;
				td{
					width:100%;
					display:block;
				}
			}
		}
	}
	.campaign-table{
		tbody {
			tr {
				td{
					&.campaign-checkbo{
						text-align:center;
						padding-bottom:0;
					}
					&.campaign-image{
						.list-image{
							width:auto;
							height:auto;
						    margin-left: auto;
						    margin-right: auto;
							img{
								position:static;
								height:auto;
							}							
						}						
					}
				}
			}
		}
	}
	.table-content{
		tbody{
			tr{
				td {
					display: block;
					text-align: left;
					line-height: 100%;
					border-width: 0 !important;
					padding-bottom:15px;
					&:before {
						font-weight: bold;
						display: inline-block;
						content: attr(data-th);
						color:$color_cart_head;
					}
					p {
						display:inline-block;
					}
				}
			}
		}
	}
	.quantity{
		&__block{
			display:table;
			width:112px;
			height:31px;
		}
		&__decrement,
		&__increment{
			height:31px;
			width:31px;
			position:static;
			display:table-cell;
		}
		&__decrement{
			float:left;
		}
		&__increment{
			float:right;
		}
	}
	.menu{		
		&.menu-right{
			span{
				display:none;
			}
			[class*='icon-']{
				margin-right:0;
			}
		}
	}
	.product{
		&__picture{
			height:auto;
			max-height:280px;
			text-align:center;
			&__img{
				position:static;
			}
		}
	}
	.slider{
		&__content{
			&__bg{
				height:350px;
			}	
			&__title{
				font-size:$font-size-default * 2;
			}
			&__subtitle{
				font-size:$font-size-h6-title;
			}
		}
	}
	.slick-arrow{
		&.slick-next{
			right:0;
		}
		&.slick-prev{
			left:0;
		}
	}
	.footer{
		[class*='col-']{
			padding-left:15px;
			&:first-child{
				padding-left:15px;
			}
		}
	}
	.form-sign{
		margin-bottom:20px;
	}
	.btn__social{
		margin-bottom:20px;
	}
}

@media all and (max-width:480px){

}