.sidebar{
	margin-bottom:40px;
	&__title{
		font-family:$lato;
		font-size:$font-size-h5-title;
		font-weight:$font-weight-bold;
		margin-bottom:20px;
	}
	&__list{
		padding-left:0;
		margin-bottom:20px;
		&__item{
			list-style:none;
			&__link{
				font-style:$font-style-italic;
				border-top:1px solid $color_foo_border;
				display:block;
				padding-top:15px;
				padding-bottom:15px;
				padding-left:30px;
				color:$color_text-gray;
				font-size:$font-size-default;
				font-family:$georgia;
				background-color:$color_sidebar_bg;
				@include transition(0.3s ease);
				@include condition-block{
					text-decoration:none;
					color:$color_orange;
				}
			}
			&:last-child{
				.sidebar__list__item__link{
					border-bottom:1px solid $color_foo_border;
				}
			}
		}
	}
}