.title__login{
	font-family:$open-sans;
	color:$color_product_title;
	text-transform:uppercase;
	font-size:$font-size-h5-title*2;
	font-weight:$font-weight-semibold;
	margin-bottom:20px;
	&__subtitle{
		color:lighten($color_text-gray, 25%);
		font-style:$font-style-italic;
		font-size:$font-size-default;
		display:block;
		margin-top:20px;
		margin-bottom:20px;
		font-family:$georgia;
		text-align:center;
		text-transform: capitalize;
	}	
}

.login__indent{
	margin-bottom:60px;
}

.block__or{
	color:$color_product_title;
	font-size:$font-size-h5-title;
	font-style:$font-style-italic;
	text-transform:uppercase;
	font-family:$lato;
	margin-top:30px;
	margin-bottom:30px;
	text-align:center;
}

.title__login__link{
	color:$color_text-gray;
	font-size:$font-size-default;
	font-family:$georgia;
	text-decoration:underline;
	@include condition-block{
		color:darken($color_text-gray, 20%);
	}
}

.sign-border{
	margin-top:40px;
	margin-bottom:40px;
}