.slider{
	overflow:hidden;
	position:relative;
	margin-bottom:40px;
	max-height:600px;
	&__content{		
		float:left;
		width:100%;
		&__bg{
			width:100% !important;
			position: relative;
			height: auto;
			overflow: hidden;
			height:600px;
			background-size:cover;
			background-position:50% 0;
		}
		&__inner{
			width:100%;
			position:absolute;
			bottom:60px;
			left:0;
			right:0;
			text-align:center;
			padding-left:40px;
			padding-right:40px;
		}
		&__picture{
			width:100%;
		}
		&__title{
			color:$color_white;
			font-family:$lato;
			font-size:$font-size-h1-title * 2;
			text-transform:uppercase;
		}
		&__subtitle{
			color:$color_subtitle;
			font-size:$font-size-h3-title;
			font-family:$georgia;
			font-style:italic;
		}
	}
	*{
		@include condition-block{
			outline:none;
		}
	}
}
.slick-arrow{
	position:absolute;
	top:50%;
	z-index:5;
	margin-top:-36px;
	text-indent:-99999px;
	border:none;	
	background-color:transparent;
	&.slick-prev{
		@include icon-sprite(left);
		left:20px;
		&:hover{
			@include icon-sprite(left_hover);
		}
	}
	&.slick-next{
		@include icon-sprite(right);
		right:20px;
		&:hover{
			@include icon-sprite(right_hover);
		}
	}
}

.slick-list {
    padding: 0 !important;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.slick-dots{
	padding-left:0;
	position:absolute;
	bottom:10px;
	text-align:center;
	z-index:5;
	width:100%;
	li{
		list-style:none;
		display:inline-block;
		margin-right:10px;
		&:last-child{
			margin-right: 0;
		}
		button{
			text-indent:-9999px;
			width:20px;
			height:20px;
			border:none;		
			background-color:$color_subtitle;
			@include border-radius(100%);
		}
		&.slick-active{
			button{
				background-color:$color_white;
			}
		}
	}
}