.sortable{
	display:inline-block;
	margin-right:10px;
	&:last-child{
		margin-right:0;
	}
	&__text{
		line-height:34px;
		float:left;
		margin-bottom:0;
		margin-right:10px;
		font-family:$lato;
		
	}
	.sortable__show{
		width:70px;
		float:right;		
	}
	.sortable__sort{
		width:140px;
		float:right;
	}
}