extends includes/layout
block content
	.page-content
		.container
			.row
				include includes/sidebar
				.col-md-9
					h3
						strong Billing Agreements
					p.text-page
						i There are no billing agreements yet.
					p.text-page.text-caps.m-t10
						i New Billing Agreement
					.row.m-t30
						.col-md-8
							p.form-text-sign
								| You will be redirected to the payment system website.
							.form-group.form-sign
								select.form-control
									option Please select
									option PayPal Billing Agreement
							.row
								.col-xs-12
									button.btn.btn-primary
										| Create