extends includes/layout
block content
	.page-content
		.container
			.row
				include includes/sidebar
				.col-md-9
					h3
						strong My Product Reviews
					p.text-page.text-invite You have submitted no reviews