extends includes/layout
block content
	.page-content
		.container
			.row
				include includes/sidebar
				.col-md-9
					.row
						.col-sm-6
							h3
								strong ORDER #100000011 - PENDING
						.col-sm-6.sm-right.m-t10
							button.btn.btn-primary.m-r10
								| PRINT ORDER
							button.btn.btn-primary
								| REORDER
					.row.m-t20
						.col-xs-12
							h5.title-border
								strong About this order: Order Information
							p.text-label.lato.p-tb10
								| Order date: December 16,2015
					.row
						.col-sm-6.m-b20
							h5.p-b10
								strong Shipping Address
							p.text-label.lato
								| cool street
							p.text-label.lato
								| USA
							p.text-label.lato
								| phoenix, Arizona, 85001
							p.text-label.lato
								| T: adsasd
						.col-sm-6.m-b20
							h5.p-b10
								strong Billing Address
							p.text-label.lato
								| Flat Rate - Fixed
					.row
						.col-sm-6.m-b20
							h5.p-b10
								strong Shipping Method
							p.text-label.lato
								| cool street
							p.text-label.lato
								| USA
							p.text-label.lato
								| phoenix, Arizona, 85001
							p.text-label.lato
								| T: adsasd
						.col-sm-6.m-b20
							h5.p-b10
								strong Payment method
							p.text-label.lato
								| Bank transfer Payment
					.row
						.col-xs-12
							h5.p-b10
								strong Items Ordered
					table.responsive-table.cart-table.table-content
						thead.table-head
							tr
								th Product name
								th Sku
								th Price
								th Qty
								th Subtotal
						tbody
							tr
								td(data-th="Product name: ")
									p.text-black.lato
										strong 200 of 200 sold
									.progress(data-progress="100")
										.progress-line
									p.text-black.lato
										strong The campaign has been completed successfully
								td(data-th="Sku: ")
									p.text-label
										| Campagin -50
								td(data-th="Price: ")
									p.text-label
										| $100
								td(data-th="Price: ")
									p.text-label
										| Ordered: 2
										br
										| Canceled:2
								td(data-th="Price: ")
									p.text-label
										| $21,000
					.clearfix
						.is-table.text-right.pull-right
							.is-row
								p.form-text.is-cell.p-tr20 Subtotal:
								p.text-orange.p-t20.is-cell 
									i 20,000$
							.is-row
								p.form-text.is-cell.p-tr20 Shipping & Handling:
								p.text-orange.p-t20.is-cell 
									i 1,000$
							.is-row
								h4.text-black.p-tr20.is-cell.p-tr20
									strong Total:
								h4.text-orange.p-t20.is-cell
									strong 
										i 21,000$
					.row.m-t20
						.col-xs-12
							a.text-orange.text-caps(href="")
								< Back to my orders