extends includes/layout
block content
	.page-content
		.container
			.row
				include includes/sidebar
				.col-md-9
					.row
						.col-md-7
							h3
								strong Manage configurable product’s attribute
							p.text-page
								i Create attribute for configurable products
						.col-md-5.md-right.p-t20
							button.btn.btn-primary
								| SAVE ATTRIBUTES
					.row.m-t30
						.col-md-8
							p.form-text-sign
								| Attribute Set:
							.form-group.form-sign
								select.form-control
									option Please select
									option Default
							p.form-text-sign
								| Attribute Group:
							.form-group.form-sign
								select.form-control
									option General
									option Prices
									option Meta Information
									option Images
									option Recurring Profile
									option Design
									option Gift Options
									option Shipping
							p.form-text-sign
								| Attribute Code:
							.form-group.form-sign
								input.form-control(type="text")
							p.form-text-sign
								| Attribute Label:
							.form-group.form-sign
								input.form-control(type="text")
							p.form-text-sign
								| Catalog Input Type:
							.form-group.form-sign
								select.form-control
									option Please Select
									option Multiple Select
									option Dropdown
							p.form-text-sign
								| Values Required:
							.form-group.form-sign
								select.form-control
									option Yes
									option No