extends includes/layout
block content
	.page-content
		.container
			.row
				include includes/sidebar
				.col-md-9
					.row
						.col-sm-6
							h3
								strong My Campaign
						.col-sm-6.sm-right.m-t10
							button.btn.btn-primary
								| Add new campaign
					
					table.responsive-table.campaign-table.m-t30
						thead.table-head
							tr
								th
								th Campaign Name
								th Description
								th Goals
								th Profit
								th Deadline
								th
						tbody
							each cart in carts
								tr
									td.product__image
										a.product-image(href="")
											img(src=cart.image, alt="")
									td.product__name.campaign__cell
										h2.product-name	
											a(href="")
												=cart.title
									td.campaign__cell 
										p Short description
									td.campaign__cell 
										p 1334 / 2000
									td.campaign__cell 
										p 1687.500
									td.campaign__cell 
										p 
											| 12/10/2015
											br
											| 8:15:03 AM
									td.campaign__cell
										p Failure