extends includes/layout
block content
	.page-content
		.container
			.row
				include includes/sidebar
				.col-md-9
					h3
						strong Share your Wishlist
					.row.m-t30
						.col-sm-8
							p.form-text-sign
								| Email
							.form-group.form-sign
								input.form-control(type="text")
							p.form-text-sign
								| Message
							.form-group.form-sign
								textarea.form-control(rows="5")
							.row.m-t30
								.col-sm-6.p-t10
									a.link-underline(href="")
										| Back
								.col-sm-6.sm-right
									button.btn.btn-primary
										| SHARE WISHLIST
