extends includes/layout
block content
	.page-content
		.container
			.row
				include includes/sidebar
				.col-md-9
					.row
						.col-sm-7
							h4
								strong Invite friends, earn 15$
							p.text-page.text-invite
								|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo sunt repudiandae, iste aut illo, dolorum nisi, voluptatibus, quaerat minus ipsa accusantium. Accusamus omnis, recusandae quia. Dolore at sed, aut eius.
						.col-sm-4.text-center
							h5
								strong Styli.st credit
							h4
								i.text-orange 0.00$
					.row
						.col-xs-12.m-t20
							h4
								strong Share Styli.st
							ul.social.m-t20
								li.social__item
									a.social__item__link(href="")
										i.fa.fa-envelope-o
								li.social__item
									a.social__item__link(href="")
										i.fa.fa-twitter
								li.social__item
									a.social__item__link(href="")
										i.fa.fa-facebook
								li.social__item
									a.social__item__link(href="")
										i.fa.fa-instagram
					.row.m-t40
						.col-xs-12
							h4
								strong Share link
							.row
								p.text-lighten.p-t10.pull-sm-left.lato.p-rl15
									| http://www.styli.st/invite/  
								.col-sm-2.col-lg-3
									.form-group
										input.form-control(type="text")
								.col-sm-3.m-b20
									button.btn.btn-pull.btn-primary
										| Change your link
								.col-sm-3.m-b20
									button.btn.btn-pull.btn-primary
										| Save link
					h4 
						strong Invites

					table.responsive-table.cart-table.table-content.m-t20
						thead.table-head
							tr
								th Who
								th When
								th Status
								th Follow up
						tbody
							tr
								td(data-th="Who: ")
									p.lato.m-b0
										strong koffeeman12345@gmail.com
								td(data-th="When: ")
									p.lato.m-b0
										| 12/16/2014
								td(data-th="Status: ")
									p.lato.m-b0
										| Signed up, but hasn’t placed an order
								td(data-th="Follow up: ")
									p.lato.m-b0
										| joined 5/10
							tr
								td(data-th="Who: ")
									p.lato.m-b0
										strong koffeeman12345@gmail.com
								td(data-th="When: ")
									p.lato.m-b0
										| 12/16/2014
								td(data-th="Status: ")
									p.lato.m-b0
										| Signed up, but hasn’t placed an order
								td(data-th="Follow up: ")
									p.lato.m-b0
										| joined 5/10