extends includes/layout
block content
	.page-content
		.container
			.row
				include includes/sidebar
				.col-md-9
					h3
						strong My Product Reviews
					table.responsive-table.cart-table.table-content.m-t30
						thead.table-head
							tr
								th Product name
								th Date
								th Rate
								th Massage
								th 
						tbody
							each cart in carts
								tr
									td.product__name(data-th="Product name: ")
										h2.product-name	
											a(href="")
												=cart.title
									td.campaign__cell(data-th="Date: ")
										p.lato.m-b0
											| 12/16/2014
									td.campaign__cell(data-th="Rate: ")
										p.lato.m-b0
											| 4
									td.campaign__cell(data-th="Message: ")
										p.lato.text-truncate.m-b0
											| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, quae tempore placeat maiores praesentium ab velit quos amet, dolore rem non qui eos laboriosam eius libero nobis voluptatibus sunt debitis.
									td.campaign__cell
										p.m-b0
											a.link__page(href="")
												| View Review