extends includes/layout
block content
	.page-content
		.container
			.row
				include includes/sidebar
				.col-md-9
					h3
						strong Add new Campaign
					p.text-page
						| Campaign Information
					.row.m-t30
						.col-sm-8
							p.form-text-sign
								| Campaign Name
							.form-group.form-sign
								input.form-control(type="text")
							p.form-text-sign
								| Description
							.form-group.form-sign
								textarea.form-control(rows="5")
							button.btn.btn-big-primary
								| UPLOAD PHOTO
					.row.m-t30
						.col-xs-12
							p.lato.text-caps.text-lighten
								| Please make sure to upload 5 required images (views): 
								=space
								span.text-orange Formal Front, Formal Back, Formal Side, Close up (outside stitching), Close up (inside stitching).
							p.lato.text-caps.text-lighten
								| You can also include some optional views: 
								=space
								span.text-orange Casual Front, Casual side, Casual back, Close up (fabrication details)
					.row.m-t30
						.col-sm-4
							p.form-text-sign
								| Price
							.form-group.form-sign
								input.form-control(type="text")
						.col-sm-4
							p.form-text-sign
								| Goals
							.form-group.form-sign
								input.form-control(type="text")
					.row
						.col-sm-8
							p.form-text-sign
								| Length (days)
							.form-group.form-sign
								input.form-control(type="text")
					.row.m-t30
						.col-sm-6
							a.link-underline(href="")
								| Back
						.col-sm-6.sm-right
							button.btn.btn-primary
								| SAVE ADDRESS