extends includes/layout
block content
	.page-content
		.container
			.row
				include includes/sidebar
				.col-md-9
					h3
						strong
							| Hello, Name Family!
					p.text-page.text-invite
						i From your My Account you have the ability to view a snapshot of your recent account activity and update your account information. Select a link below to view or edit information.
					h5.p-tb10
						strong Recent Orders
					table.responsive-table.campaign-table.table-content.m-t20
						thead.table-head
							tr
								th Product name
								th Date
								th Ship to
								th Total Amount
								th Status
								th
						tbody
							each cart in carts
								tr
									td(data-th="Product name: ")
										p.lato.m-b0
											strong
												=cart.title
									td(data-th="Date: ")
										p.lato.m-b0 12/16/2014
									td(data-th="Ship to: ")
										p.lato.m-b0
											| qwerty m
									td(data-th="Total Ammount: ")
										p.lato.m-b0
											| $21,000.00
									td(data-th="Status: ")
										p.lato.m-b0
											| Pending
									td
										p.m-b0
											a.link__page(href="") View order
					.row.m-t40
						.col-xs-12
							h5.title-border
								strong Account Information
					.row
						.col-sm-6
							h5
								strong
									| Contact Information
									a.btn.btn-edit.m-l10(href="")
										i.fa.fa-pencil
							p.text-label.lato
								| Name Family
							p.text-label.lato
								| mail@mail.com
							a.link-underline-text(href="")
								| Change Password
						.col-sm-6
							h5
								strong
									| Newsletters
									a.btn.btn-edit.m-l10(href="")
										i.fa.fa-pencil
							p.text-label.lato
								| You are currently not subscribed to any newsletter.
					.row.m-t40
						.col-xs-12
							h5.title-border
								strong.m-r10 Address Book
								a.link-underline-text(href="")
									| Manage Address
					.row
						.col-sm-6
							h5
								strong Default Billing Address
								a.btn.btn-edit.m-l10(href="")
									i.fa.fa-pencil
							p.text-label.lato
								| Name Family
							p.text-label.lato
								| cool street
							p.text-label.lato
								| Phoenix,Arizona,85001
							p.text-label.lato
								| T:adsad
						.col-sm-6
							h5
								strong Default Shipping Address
								a.btn.btn-edit.m-l10(href="")
									i.fa.fa-pencil
							p.text-label.lato
								| You have not set a default shipping address.