extends includes/layout
block content
	.page-content
		.container
			.row
				include includes/sidebar
				.col-md-9
					h3
						strong My Wishlist
					table.responsive-table.cart-table
						thead.table-head
							tr
								th
								th Product Name
								th QTY
								th(colspan="2") Amount
						tbody		
							each cart in carts
								tr
									td.product__image
										a.product-image(href="")
											img(src=cart.image, alt="")
									td.product__name
										h2.product-name	
											a(href="")
												=cart.title	
										p.product-option
											span Head option:
											=space
											=cart.category
										p.product-option
											span Head option:
											=space
											| Option 2
									td.product__qty
										.quantity
											.quantity__block.input-group.clearfix
												button.quantity__decrement.input-group-btn(data-decrement) -
												input.quantity__control.form-control(type='text', value='8', data-control, value="1")
												button.quantity__increment.input-group-btn(data-increment) +
									td.product__amount
										=cart.price
									td.product__control
										i.fa.fa-shopping-bag
										i.fa.fa-pencil
										i.fa.fa-remove
					.row
						.col-xs-12.m-t20.text-right
							button.btn.btn-primary.m-rb10
								| Update wishlist
							button.btn.btn-primary.m-rb10
								| Add all to cart
							button.btn.btn-primary.m-b10
								| Share wishlist