extends includes/layout
block content
	.page-content
		.container
			.row
				include includes/seller-sidebar
				.col-md-9
					.row
						.col-sm-6
							button.btn.btn-grid
								i.icon-block
							button.btn.btn-grid
								i.icon-list
						.col-sm-6.text-right
							.sortable
								.clearfix
									p.sortable__text
										strong Show
									.form-group.sortable__show
										select.form-control(name="")
											option(value="") 5
											option(value="") 10
											option(value="") 15
											option(value="") 20
							.sortable
								.clearfix
									p.sortable__text
										strong Sort by
									.form-group.sortable__sort
										select.form-control(name="")
											option(value="") High popular
											option(value="") Middle popular
											option(value="") Low popular
					.banner__multi
						img(src="images/pictures/banner_multi.png", alt="")
					h5.m-tb40
						strong Seller Collection
					.row
						each product in products
							.col-md-6
								a(href="").product
									.product__picture
										//-(style="background-image:url(#{product.image})")
										img.product__picture__img(src="#{product.image}", alt="")
									.product__content
										h3.product__content__title #{product.title}
										h4.product__content__category #{product.category}
										p.product__content__price 99$
										.progress(data-progress="#{product.progress}")
											.progress-line
										.row
											.col-sm-3
												p.text-black.lato
													strong 50%
												p.text-lighten.lato success	
											.col-sm-4
												p.text-black.lato 
													strong 50%
												p.text-lighten.lato days to go	
											.col-sm-5
												p.text-black.lato 
													strong 5000
												p.text-lighten.lato of 10000 sold