extends includes/layout
block content
	.page-content
		.container
			.row
				include includes/sidebar
				.col-md-9
					h3
						strong My Product list
					.row.m-t30
						.col-sm-3
							p.form-text-sign
								| Product name
							.form-group.form-sign
								input.form-control(type="text", placeholder="Search by Product Name")
						.col-sm-5
							.row
								.col-xs-12
									p.form-text-sign
										| Date
								.col-xs-6
									.form-group.form-sign
										input.form-control(type="text", placeholder="From")
								.col-xs-6
									.form-group.form-sign
										input.form-control(type="text", placeholder="To")
						.col-sm-4
							p.form-text-sign
								| Product status
							.row
								.col-sm-6
									.form-group.form-sign
										input.form-control(type="text", placeholder="All")
								.col-sm-6
									.form-group.form-sign
										button.btn.btn-pull.btn-primary
											| Submit
					button.btn.btn-primary
						| Delete Products
					table.responsive-table.campaign-table.table-content.m-t20
						thead.table-head
							tr
								th
								th 
								th Product
								th Status
								th QTY. Confirmed
								th QTY. Pending
								th QTY. Sold
								th Earn amount
								th
						tbody
							each cart in carts
								tr
									td.campaign-checkbo
										label.cb-checkbo
											input.cb-checkbox(type="checkbox")
											span.cb-checkbo__content
									td.campaign-image
										a.product-image.list-image(href="")
											img(src=cart.image, alt="")
									td.campaign__cell(data-th="Product: ")
										h2.product-name	
											a(href="")
												=cart.title
										p.text-label.lato
											=cart.price + "$"
									td.campaign__cell(data-th="Status: ")
										p.text-label.lato
											| Approved
									td.campaign__cell(data-th="QTY Confirmed: ")
										p.text-label.lato
											| 2
									td.campaign__cell(data-th="QTY Pending: ")
										p.text-label.lato
											| 2
									td.campaign__cell(data-th="QTY Sold: ")
										p.text-label.lato
											| 2
									td.campaign__cell(data-th="Earn amount: ")
										p.text-label.lato
											| 0$
									td.campaign__cell
										i.fa.fa-pencil
										i.fa.fa-remove