extends includes/layout
block content
	.page-content
		.container
			.row
				include includes/sidebar
				.col-md-9
					h3
						strong My Orders
					table.responsive-table.campaign-table.table-content.m-t30
						thead.table-head
							tr
								th Order
								th Date
								th Ship to
								th Total Amount
								th Order Status
								th
						tbody
							each cart in carts
								tr
									td.campaign__cell(data-th="Order: ")
										p.lato.m-b0
											strong 100000011
									td.campaign__cell(data-th="Date: ")
										p.lato.m-b0 12/16/2014
									td.campaign__cell(data-th="Ship to: ")
										p.lato.m-b0
											| Street number
									td.campaign__cell(data-th="Total amount: ")
										p.lato.m-b0
											| $21,000.00
									td.campaign__cell(data-th="Order Status: ")
										p.lato.m-b0
											| Pending
									td.campaign__cell
										p.m-b0
											a.link__page(href="")
												| View Order