extends includes/layout
block content
	.page-content
		.container
			.row
				include includes/sidebar
				.col-md-9
					h3
						strong
							| Paypal account
					.row.m-t30
						.col-md-8
							p.form-text-sign
								| Paypal account
							.form-group.form-sign
								input.form-control(type="text")
					button.btn-primary.btn
						| SAVE