extends includes/layout
block content
	.page-content
		.container
			.row
				include includes/sidebar
				.col-md-9
					h3
						strong Edit Account Information
					p.text-page
						| Account Information
					.row.m-t30
						.col-sm-6.col-md-4
							p.form-text-sign
								| First Name
							.form-group.form-sign
								input.form-control(type="text")
						.col-sm-6.col-md-4
							p.form-text-sign
								| Last Name
							.form-group.form-sign
								input.form-control(type="text")
					.row
						.col-xs-12.col-md-8
							p.form-text-sign
								| Email address
							.form-group.form-sign
								input.form-control(type="text")
					.row
						.col-xs-6.col-sm-4.col-md-3
							button.btn.btn-pull.btn-primary
								| SAVE