extends includes/layout
block content
	.page-content
		.container
			.row
				include includes/sidebar
				.col-md-9
					.row
						.col-sm-6
							h3
								strong Address Book
						.col-sm-6.sm-right.m-t20
							button.btn.btn-primary
								| ADD NEW ADDRESS
					.row.m-t20
						.col-sm-6							
							h5.title-border.more__title
								strong Default Addresses
							.m-b40
								h5
									strong Default Billing Address
									a.btn.btn-edit(href="").m-l10
										i.fa.fa-pencil
								p.text-label.lato
									| Name Family
								p.text-label.lato
									| cool street
								p.text-label.lato
									| Phoenix, Arizona, 85001
								p.text-label.lato
									| T:adsad
							.m-b40
								h5
									strong Default Shipping Address
									a.btn.btn-edit(href="").m-l10
										i.fa.fa-pencil
								p.text-label.lato
									| Name Family
								p.text-label.lato
									| cool street
								p.text-label.lato
									| Phoenix,Arizona,85001
								p.text-label.lato
									| T:adsad
						.col-sm-6
							h5.title-border
								strong Additional Address Entries
							p.text-label.lato
								| You have no additional address entries in your address book.