extends includes/layout
block content
	.page-content
		.container
			.row
				include includes/sidebar
				.col-md-9
					h3
						strong Address Book
					p.text-page
						| Contact Information
					.row.m-t30
						.col-sm-6.col-md-4
							p.form-text-sign
								| First Name
							.form-group.form-sign
								input.form-control(type="text")
						.col-sm-6.col-md-4
							p.form-text-sign
								| Last Name
							.form-group.form-sign
								input.form-control(type="text")
					.row
						.col-sm-6.col-md-4
							p.form-text-sign
								| Company
							.form-group.form-sign
								input.form-control(type="text")
						.col-sm-6.col-md-4
							p.form-text-sign
								| Telephone
							.form-group.form-sign
								input.form-control(type="text")
					.row
						.col-md-8
							p.form-text-sign
								| Fax
							.form-group.form-sign
								input.form-control(type="text")
					p.text-page
						| Address Information
					.row.m-t30
						.col-md-8
							p.form-text-sign
								| Address 
								=space
								span.form-subtext
									i (line 1)
							.form-group.form-sign
								input.form-control(type="text")
						.col-md-8
							p.form-text-sign
								| Address 
								=space
								span.form-subtext
									i (line 2)
							.form-group.form-sign
								input.form-control(type="text")
					.row
						.col-sm-6.col-md-4
							p.form-text-sign
								| City
							.form-group.form-sign
								input.form-control(type="text")
						.col-sm-6.col-md-4
							p.form-text-sign
								| Postal code
							.form-group.form-sign
								input.form-control(type="text")
					.row.m-t30
						.col-md-8
							p.form-text-sign
								| State/province
							.form-group.form-sign
								select.form-control(type="text")
									option Belarus
									option Poland
					.row.m-t30
						.col-md-8
							p.form-text-sign
								| Country
							.form-group.form-sign
								select.form-control(type="text")
									option Belarus
									option Poland
					.row
						.col-xs-12
							label.cb-checkbo.sign__checkbo(for="billing")
								input#billing.cb-checkbox(type="checkbox")
								span.cb-checkbo__content Use as my default billing address
					.row
						.col-xs-12
							label.cb-checkbo.sign__checkbo(for="shipping")
								input#shipping.cb-checkbox(type="checkbox")
								span.cb-checkbo__content Use as my default shipping address
					.row.m-t30
						.col-md-8
							.row
								.col-sm-6.p-t10
									a.link-underline(href="")
										| Back
								.col-sm-6.sm-right
									button.btn.btn-primary
										| SAVE ADDRESS