doctype html
html
	include includes/head	
	body
		.wrapper
			include includes/header_coupon
			.page-content
				.container
					table.responsive-table.cart-table
						thead.table-head
							tr
								th
								th Product Name
								th QTY
								th(colspan="2") Amount						
						tbody
							each cart in carts
								tr
									td.product__image
										a.product-image(href="")
											img(src=cart.image, alt="")
									td.product__name
										h2.product-name	
											a(href="")
												=cart.title	
										p.product-option
											span Head option:
											=space
											=cart.category
										p.product-option
											span Head option:
											=space
											| Option 2
									td.product__qty
										.quantity
											.quantity__block.input-group.clearfix
												button.quantity__decrement.input-group-btn(data-decrement) -
												input.quantity__control.form-control(type='text', value='8', data-control, value="1")
												button.quantity__increment.input-group-btn(data-increment) +
									td.product__amount
										=cart.price
									td.product__control
										i.fa.fa-pencil
										i.fa.fa-remove
						tfoot
							tr
								td(colspan="50")
									a(href="").link-underline
										| Continue shopping
									.pull-sm-right
										button.btn.btn-update
											i.icon-bag
											| Empty cart
										button.btn.btn-update
											i.icon-update
											| Update cart
					.row
						.col-md-3.col-sm-4
							p.form-text
								strong Estimate shipping and tax
							.form-group
								select.form-control
									option Country
									option Russia
									option Germany
							.form-group
								select.form-control
									option State/Province
									option One
									option Two
							.form-group
								input.form-control(type="text", placeholder="Zip/Postal Code")
							button.btn.btn-primary.btn-pull.m-b20
								| Get a Quote
							p.form-text
								strong Standard ground shipping
							.row
								.col-xs-12
									label.cb-radio.sign__radio
										input.cb-radiox(type="radio")
										span.cb-radio__content
											| UPS 8.95$
							p.form-text
								strong Second business day
							.row
								.col-xs-12
									label.cb-radio.sign__radio
										input.cb-radiox(type="radio")
										span.cb-radio__content
											| Fixed 19.95$
							button.btn.btn-primary.btn-pull.m-b20
								| Update Total
						.col-md-3.col-sm-4
							p.form-text
								strong Discount Coupon
							.form-group
								input.form-control(type="text", placeholder="Coupon Code")
							button.btn.btn-primary.btn-pull.m-b20
								| Apply Coupon
						.col-md-6.col-sm-4
							.is-table.pull-right.text-right
								.is-row
									p.form-text.is-cell.p-tr20 Subtotal:
									p.text-orange.p-t20.is-cell €567,95
								.is-row
									p.form-text.is-cell.p-tr20 Subtotal:
									p.text-orange.p-t20.is-cell €567,95
								.is-row
									p.form-text.p-tr20.is-cell.p-tr20
										strong Total:
									p.text-orange.p-t20.is-cell
										strong 
											i €567,95
							.row
								.col-md-6.col-md-offset-6
									button.btn.btn-primary.btn-pull.m-tb20
										| CHECKOUT
		include includes/footer
		include includes/foot