extends includes/layout
block content
	.page-content
		.container
			h2.title__login.text-center
				| Billing address
			.row
				.col-xs-12.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
					p.form-text-sign
						| SELECT A BILLING ADDRESS FROM YOUR ADDRESS BOOK OR ENTER A NEW ADDRESS
					.form-group.form-sign
						select.form-control
							option Arizona
							option Tehas
							option Washington
					.row
						.col-sm-6
							p.form-text-sign
								| First Number
							.form-group.form-sign
								input.form-control(type="text")
						.col-sm-6
							p.form-text-sign
								| Last Name
							.form-group.form-sign
								input.form-control(type="text")
					p.form-text-sign
						| Phone Number
					.form-group.form-sign
						input.form-control(type="text")
					p.form-text-sign
						| State/province
					.form-group.form-sign
						select.form-control
							option Arizona
							option Tehas
							option Washington
					.row
						.col-xs-12
							p.form-text-sign
								| Address 
								=space
								span.form-subtext
									i (line 1)
							.form-group.form-sign
								input.form-control(type="text")
					.row
						.col-xs-12
							p.form-text-sign
								| Address 
								=space
								span.form-subtext
									i (line 2)
							.form-group.form-sign
								input.form-control(type="text")
					.row
						.col-sm-6
							p.form-text-sign
								| City
							.form-group.form-sign
								input.form-control(type="text")
						.col-sm-6
							p.form-text-sign
								| Postal code
							.form-group.form-sign
								input.form-control(type="text")
					.row
						.col-xs-12
							label.cb-checkbo.sign__checkbo(for="create_account")
								input#create_account.cb-checkbox(type="checkbox")
								span.cb-checkbo__content Create account for later use
					.row
						.col-xs-12
							label.cb-checkbo.sign__checkbo(for="ship_address")
								input#ship_address.cb-checkbox(type="checkbox")
								span.cb-checkbo__content Ship to this address
					.sign-border.text-center
						img(src="images/pictures/checkout-border.png", alt="")
			.row
				.col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
					h2.title__login.text-center
						| Shipping method
					.row
						.col-sm-4
							label.cb-radio.sign__radio(for="standart")
								input#standart.cb-radiox(type="radio", name="radio-group")
								span.cb-radio__content Standart schipping 7$
						.col-sm-4
							label.cb-radio.sign__radio(for="second")
								input#second.cb-radiox(type="radio", name="radio-group")
								span.cb-radio__content Second Business Day 20$
						.col-sm-4
							label.cb-radio.sign__radio(for="next")
								input#next.cb-radiox(type="radio", name="radio-group")
								span.cb-radio__content Next Business Day 30$
			.row
				.col-xs-12.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
					.sign-border.text-center
						img(src="images/pictures/checkout-border.png", alt="")
					h2.title__login.text-center
						| Payment Method
					h3.title__login__subtitle.login__indent
						| Choose your payment method
					.row
						.col-sm-6.text-center
							label.cb-radio.cb-img(for="card")
								input#card.cb-radiox(type="radio", name="pay-group", data-show=".pay-card", data-hide=".paypal", checked)
								span.cb-img__content
									img(src="images/pay/card.jpg", alt="")
						.col-sm-6
							label.cb-radio.cb-img(for="paypal")
								input#paypal.cb-radiox(type="radio", name="pay-group", data-show=".paypal", data-hide=".pay-card")
								span.cb-img__content
									img(src="images/pay/paypal.jpg", alt="")
					.pay-card
						.row
							.col-sm-6
								p.form-text-sign
									| Card Number
								.form-group.form-sign
									input.form-control(type="text")
							.col-sm-6
								p.form-text-sign
									| CVV Number
								.form-group.form-sign
									input.form-control(type="text")
						.row
							.col-xs-12
								p.form-text-sign
									| Expiry date
						.row
							.col-sm-6
								.form-group.form-sign
									select.form-control
										option Exp. Mounth
										option Tehas
										option Washington
							.col-sm-6
								.form-group.form-sign
									select.form-control
										option Exp. Year
										option Tehas
										option Washington
					.paypal.is-hidden.text-center
						h4.subtext-page
							i You will be redirected to the PayPal website when you place the order.
						p.text-page 
							i Paypal is the secure way to make your payment.
					.sign-border.text-center
						img(src="images/pictures/checkout-border.png", alt="")
					h2.text-center.login__indent
						strong Discount Codes
					.row.m-t20
						.col-sm-6
							.form-group.form-sign
								input.form-control(type="text", placeholder="Coupon code")
						.col-sm-6
							.form-group
								button.btn-primary.btn-pull.btn-form
									| Apply code
			h2.text-center.login__indent
				strong Order review
			table.responsive-table.cart-table
				thead.table-head
					tr
						th
						th Product Name
						th.text-center QTY
						th.text-center Amount
				tbody
					each cart in carts
						tr
							td.product__image
								a.product-image(href="")
									img(src=cart.image, alt="")
							td.product__name
								h2.product-name	
									a(href="")
										=cart.title
							td.product__qty.text-center
								| 1
							td.product__amount.text-center
								=cart.price
			.clearfix
				.is-table.text-right.pull-right
					.is-row
						p.form-text.is-cell.p-tr20 Subtotal:
						p.text-muted.p-t20.is-cell €567,95
					.is-row
						p.form-text.is-cell.p-tr20 Shipping & Handling (Standart Ground Shipping - UPS):
						p.text-muted.p-t20.is-cell €567,95
					.is-row
						p.text-orange.p-tr20.is-cell.p-tr20
							strong Total:
						p.text-orange.p-t20.is-cell
							strong 
								i €567,95
			.row.m-tb20
				.col-sm-3.pull-right
					button.btn.btn-primary.btn-pull
						| PAY NOW
	#register.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		.modal-dialog
			.modal-content
				.modal-body
					button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
					h2.text-caps.text-center.login__indent
						| Login to your Account
					p.form-text-sign
						| E-mail
					.form-group.form-sign.has-error
						input.form-control(type="text")
					.clearfix
						p.form-text-sign.pull-left
							| Password
						.pull-right
							a(href="").link__page
								i forgot password
					.form-group.form-sign
						input.form-control(type="text")
					.row
						.col-sm-6.col-sm-offset-3
							.form-group
								button.btn.btn-primary.btn-pull
									| LOG IN