extends includes/layout
block content
	.page-content
		.container
			h2.title__login.text-center
				| Forgot password
			.row
				.col-xs-12.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
					p.form-text-sign
						| Styli.st send password reset instructions to the e-mail
					.form-group.form-sign
						input.form-control(type="text")
					.row
						.col-sm-6.col-sm-offset-3
							.form-group
								button.btn-primary.btn-pull
									| SEND