extends includes/layout
block content
	.slider.clearfix
		each item in slider
			.slider__content
				.slider__content__bg(data-bg)
					img.slider__content__picture(src="#{item.image}", alt="", data-img)
					.slider__content__inner
						h3.slider__content__title #{item.title}
						h4.slider__content__subtitle #{item.content}
	.container.is-relative
		h2.page__title
			| Recommended for you
		.row
			each product in products
				.col-md-4
					a(href="").product
						.product__picture
							img.product__picture__img(src="#{product.image}", alt="")
						.product__content
							h3.product__content__title #{product.title}
							h4.product__content__category #{product.category}
							p.product__content__price 99$
							.progress(data-progress="#{product.progress}")
								.progress-line
							.row
								.col-sm-3
									p.text-black.lato
										strong 50%
									p.text-lighten.lato success	
								.col-sm-4
									p.text-black.lato 
										strong 50%
									p.text-lighten.lato days to go	
								.col-sm-5
									p.text-black.lato 
										strong 5000
									p.text-lighten.lato of 10000 sold
		.row
			.col-xs-12.text-center.m-tb20
				a.btn.btn-big-primary.m-b20(href="")
					| See all
	.updates__content
		.container.text-center
			h2.updates__content__title
				| sign up to receive our updates
			p.updates__content__text
				| Nulla ipsum dolor lacus, suscipit adipiscing. Cum sociis natoque penatibus et ultrices volutpat.
			.row
				.col-sm-6.col-sm-offset-3
					.input-group.updates__content__group
						input.form-control(type='text', placeholder="Your e-mail")
						span.input-group-btn
							button.btn.btn-default Add
	.container
		.row.m-tb40
			.col-sm-4.text-center.m-b20
				img(src="images/home/1.png", alt="")
				h3.text-caps
					| showcase your design
				p.text-page	
					| Build your collection, and launch crowdfunding campagins for the world to use..		
			.col-sm-4.text-center.m-b20
				img(src="images/home/2.png", alt="")
				h3.text-caps
					| attract customers
				p.text-page
					| Leverage social power to build excitement about your style and reach your goal.
			.col-sm-4.text-center.m-b20
				img(src="images/home/3.png", alt="")
				h3.text-caps
					| build, ship, delight
				p.text-page
					| Build your product and put it in the hands of your next happy customer