extends includes/layout
block content
	.page-content
		.container
			.row
				include includes/sidebar
				.col-md-9
					.row
						.col-sm-6
							h3
								strong Edit Profile Information
							p.text-page
								i Profile Information
						.col-sm-6.sm-right.m-t20
							button.btn.btn-primary
								| SAVE PROFILE
					.row.m-t30
						.col-md-8
							.row
								.col-sm-6
									p.form-text-sign
										| Shop title
									.form-group.form-sign
										input.form-control(type="text")
								.col-sm-6
									p.form-text-sign
										| Contact number
									.form-group.form-sign
										input.form-control(type="text")
							.row
								.col-xs-12
									label.cb-checkbo
										input.cb-checkbox(type="checkbox")
										span.cb-checkbo__content
											| Facebook
							.row.m-t10
								.col-xs-12
									.form-group.form-sign
										input.form-control(type="text")
							.row
								.col-xs-12
									label.cb-checkbo
										input.cb-checkbox(type="checkbox")
										span.cb-checkbo__content
											| Twitter
							.row.m-t10
								.col-xs-12
									.form-group.form-sign
										input.form-control(type="text")
							.row
								.col-xs-12
									label.cb-checkbo
										input.cb-checkbox(type="checkbox")
										span.cb-checkbo__content
											| Instagram
							.row.m-t10
								.col-xs-12
									.form-group.form-sign
										input.form-control(type="text")
							.clearfix
								button.btn.btn-primary
									| UPLOAD COMPANY BANNER
								span.lato.text-lighten.m-l20
									| Upload 870 px X 100 px for better look
					.row
						.