extends includes/layout
block content
	.page-content
		.container
			.row
				.col-xs-12.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
					h2.title__login.text-center.login__indent
						| LOG IN
					p.error__text.text-center
						| Invalid email or password
					p.form-text-sign
						| E-mail
					.form-group.form-sign.has-error
						input.form-control(type="text")
					.clearfix
						p.form-text-sign.pull-left
							| Password
						.pull-right
							a(href="").link__page
								i forgot password
					.form-group.form-sign
						input.form-control(type="text")
					.row
						.col-sm-6.col-sm-offset-3
							.form-group
								button.btn-primary.btn-pull
									| LOG IN
					.text-center
						.row
							.col-xs-12.form-sign
								a(href="").link__page
									i I don’t have an account
						.row
							.col-xs-12
								a(href="").link__page
									i Sell on Stylist page
					.row
						.col-xs-12
							.block__or
								| or
					.row
						.col-xs-12
							button.btn-pull.btn__social.btn-facebook.text-caps
								i.fa.fa-facebook
								| Log in with facebook
					.row
						.col-xs-12
							button.btn-pull.btn__social.btn-twitter.text-caps
								i.fa.fa-twitter
								| Log in with twitter
					.row
						.col-xs-12
							button.btn-pull.btn__social.btn-instagram.text-caps
								i.fa.fa-instagram
								| Log in with instagram
					.row
						.col-xs-12
							button.btn-pull.btn__social.btn-google.text-caps
								i.fa.fa-google
								| Log in with google