extends includes/layout
block content
	.page-content
		.container
			h2.title__login.text-center.login__indent
				| Create you styli.st account
			.row
				.col-xs-12.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
					p.form-text-sign
						| First Name
					.form-group.form-sign
						input.form-control(type="text")
					p.form-text-sign
						| Last Name
					.form-group.form-sign
						input.form-control(type="text")
					p.form-text-sign
						| E-mail Name
					.form-group.form-sign
						input.form-control(type="text")
					h3.title__login__subtitle
						| Login Information
					p.form-text-sign
						| Password
					.form-group.form-sign
						input.form-control(type="text")
					p.form-text-sign
						| Confirm Password
					.form-group.form-sign
						input.form-control(type="text")
					label.cb-checkbo.sign__checkbo(for="sign-up")
						input#sign-up.cb-checkbox(type="checkbox")
						span.cb-checkbo__content Sign Up for Newsletter
					.row
						.col-sm-8.col-sm-offset-2
							.form-group
								button.btn-primary.btn-pull
									| CREATE ACCOUNT