extends includes/layout
block content
	.page-content
		.container.text-center
			h2.title__login
				| Thank you for shopping at Styli.st
			p.text-page
				| Your order confirmation nubmer is: XQRTSDW.
			p.text-page.p-tb40
				| A receipt has been sent to you via email to the email adress you supplied: address@domain.com
			p.text-page
				| Please allow 2-3 weeks for the delivery.
			p.text-caps.text-black.p-tb20
				strong Tell you friends about this product
			ul.social
				li.social__item
					a.social__item__link(href="")
						i.fa.fa-twitter
				li.social__item
					a.social__item__link(href="")
						i.fa.fa-facebook
				li.social__item
					a.social__item__link(href="")
						i.fa.fa-instagram