[class*='btn']{
	@include transition(.3s ease);
	@include condition-block{
		outline:none;		
	}
}
.btn-search{
	background:none;
	padding:5px 10px;
	text-align:center;
	border:1px solid $color_black;
	position:relative;
	top:-2px;
	@include border-radius(0);
	@include condition-block{
		background-color:$color_black;
		.fa{
			color:$color_white;
		}
	}
}

.btn-big-primary{
	padding:15px 40px;
	background-color:$color_orange;
	color:$color_white;
	font-family: $lato;
	font-size:$font-size-default;
	@include border-radius(0);
	@include condition-block{
		color:$color_white;
		background-color:$color_dark_orange;
	}
	&:hover{
		background-color:$color_text-gray;
	}
}
.btn-primary{
	background-color:$color_orange;
	color:$color_white;
	font-family: $lato;
	font-size:$font-size-default;
	border:1px solid darken($color_orange, 10%);
	padding:10px 30px;
	@include border-radius(0);
	@include condition-block{
		color:$color_white;
		background-color:$color_dark_orange;
	}
	&:hover{
		background-color:$color_text-gray;
		border:1px solid $color_text-gray;
	}
}
.btn-update{
	background:none;
	text-transform:uppercase;
	font-size:$font-size-default;
	border:none;
	color:$color_product_title;
	padding-top:0;
	padding-bottom:0;
	[class*='icon-']{
		margin-right:5px;
		position:relative;
		top:3px;
	}
	@include condition-block{
		color:lighten($color_product_title, 25%);
	}
}
.btn-pull{
	width:100%;
}
.btn__social{
	text-align:left;
	color:$color_white;
	border:none;
	padding:20px;
	margin-bottom:30px;
	.fa{
		margin-right:20px;
		font-size:$font-size-h4-title;
		color:$color_white;
		position:relative;
		top:2px;
	}
}
.btn-facebook{
	background-color:$color_facebook;
	@include condition-block{
		background-color:darken($color_facebook, 10%);
	}
}
.btn-twitter{
	background-color:$color_twitter;
	@include condition-block{
		background-color:darken($color_twitter, 10%);
	}
}
.btn-instagram{
	background-color:$color_instagram;
	@include condition-block{
		background-color:darken($color_instagram, 10%);
	}
}
.btn-google{
	background-color:$color_google;
	@include condition-block{
		background-color:darken($color_google, 10%);
	}
}

.btn-edit{
	border:none;
	outline:none;
	background-color:transparent;
	padding:2px 5px;
	position:relative;
	top:-3px;
	.fa{
		font-size:$font-size-xs - 1;
		color:$color_product_title;
	}
	@include condition-block{
		.fa{
			color:$color_orange;
		}
		@include box-shadow(none);
	}
}

.btn-alert-remove{
	border:none;
	outline:none;
	background-color:transparent;
	padding:0;
	.fa{
		font-size:$font-size-sm;
		color:$color_white;
	}
	@include condition-block{
		@include box-shadow(none);
		@include transform(scale(1.1));
	}
}
.btn-grid{
	border:none;
	outline:none;
	background-color:transparent;
	padding:0;
	margin-right:10px;
	@include condition-block{
		outline:none;
	}
}