$color_black : black;
$color_white : white;

$color_orange 		: #ef8440;
$color_dark_orange 	: #f66836;

$color_light_blue 	: #eef9fe;
$color_blue 		: #b6e6f6;

$color_dark_gray 	: #959595;
$color_text-gray 	: #606060;

$color_border 		: #e5e5e5;

$color_logo_bg 		: #222222;
$color_subtitle 	: #dddddd;

$color_product_title: #303030;

$color_border_form 	: #c1c7c9;

$color_foo_border 	: #eaeaea;

$color_light_border : #e7e7e7;
$color_cart_head 	: #909090;

$color_lighten_border : #eeeeee;
$color_tfoot 		: #f9f9f9;

$color_banner_multi : #f89327;

$color_form_border 	: #cecece;
$color_error 		: #fc6e51;
$color_sidebar_bg 	: #fdfdfd;

$color_facebook 	: #45619d;
$color_twitter 		: #1cafe2;
$color_instagram	: #60534d;
$color_google 		: #df4a32;