@include font-face("georgia", font-files("Georgia.ttf"));

/*------------------------[ Font-family ]-----------------------*/

$open-sans 	: 'Open-sans', sans-serif;
$lato 		: 'Lato', sans-serif;
$georgia 	: 'georgia';

/*------------------------[ Font-size ]-----------------------*/

$font-size-default 	: 14px !default;
$font-size-strong 	: $font-size-default + 2 !default; //~16px
$font-size-lg	  	: $font-size-default + 1 !default; //~15px
$font-size-sm     	: $font-size-default - 1 !default; //13px
$font-size-xs     	: $font-size-default - 2 !default; //~12px
$font-size-small    : $font-size-xs - 2; //~10px

$font-size-logo		: 48px;

$font-size-h1-title : 32px;
$font-size-h2-title : 28px;
$font-size-h3-title : 24px;
$font-size-h4-title : 20px;
$font-size-h5-title : 18px;
$font-size-h6-title : 16px;

$font-size-page 	: 22px;

/*------------------------[ Font-weight ]-----------------------*/

$font-weight-thin   	: 100 !default;
$font-weight-light  	: $font-weight-thin  + 200 !default;  //~300
$font-weight-normal 	: $font-weight-light + 100 !default;  //~400
$font-weight-regular	: $font-weight-normal !default;
$font-weight-medium 	: $font-weight-normal + 100 !default; //~500
$font-weight-semibold   : $font-weight-medium + 100 !default; //~600
$font-weight-bold   	: $font-weight-medium + 200 !default; //~700
$font-weight-ultra-bold : $font-weight-bold + 200 !default;   //~900

$font-style-italic : italic;