.form-text{
	color:$color_product_title;
	font-size:$font-size-default;
	font-family:$lato;
}
.form-text-sign{
	font-family:$lato;
	color:$color_text-gray;
	text-transform:uppercase;
	font-size:$font-size-xs;
}
.form-subtext{
	text-transform:lowercase;
}
.form-group{
	.form-control{
		padding:11px 12px;
		height:auto;
		border:1px solid $color_form_border;
		color:$color_text-gray;
		font-size:$font-size-xs;
		font-family:$lato;
		@include border-radius(0);
	}
	&.has-error{
		.form-control{
			border:1px solid $color_error
		}
	}
}
.form-sign{
	margin-bottom:30px;
}
.error__text{
	color:$color_error;
	font-size:$font-size-default;
	font-family:$lato;	
}

.cb-checkbo,
.cb-radio{
	display:inline-block;
	&__content{
		color:$color_text-gray;
		font-size:$font-size-xs;
		font-family:$lato;
		position:relative;
		display:block;
		@extend %is-pointer;
		&:before{
			width:18px;
			height:18px;
			border:1px solid $color_form_border;
			position:relative;
			margin-right:10px;
			top:4px;
			content:'';
			display:inline-block;
		}
		&:after{
			@include opacit(0);
		    @include transition(.3s cubic-bezier(0, 1.1, 0.36, 1.13));
		}
	}
}

.cb-radio{
	&__content{
		&:before{
			@include border-radius(100%);
		}
		&:after{
			width: 6px;
			height: 6px;			
			background-color:$color_error;
			position: absolute;
			top: 10px;
			left: 6px;
			content:'';
			display:inline-block;
			@include border-radius(100%);
		}
	}
	&x{
		display:none;		
		&:checked + .cb-radio__content{
			&:after{
				@include opacit(1);
			}
		}
	}
	&.sign__radio{
		margin-bottom:30px;
	}
	&.cb-img{
		margin-bottom:20px;		
		.cb-img__content{
			padding:20px;
			border:1px solid transparent;
			display:inline-block;
			@extend %is-pointer;
		}

	}
	&x{
		&:checked + .cb-img__content{
			border:1px solid $color_orange;
		}
	}
	&.sign__radio{
		margin-bottom:20px;
	}
}

.cb-checkbo{
	display:inline-block;	
	&__content{
		@extend %is-pointer;
		&:after{
			width: 6px;
		    height: 12px;
		    border-style: solid;
		    border-color: $color_error;
		    border-width: 0 2px 2px 0;
		    position: absolute;
		    left: 6px;
		    top: 6px;
		    content:'';
		    display:inline-block;
		    @include transform(rotate(0deg) scale(0));
		}
	}	
	&x{
		display:none;		
		&:checked + .cb-checkbo__content{
			&:after{
				@include opacit(1);
				@include transform(rotate(40deg) scale(1));
			}
		}
	}
	&.sign__checkbo{
		margin-bottom:30px;
	}
}