$titles: (
  "h1": $font-size-h1-title,
  "h2": $font-size-h2-title,
  "h3": $font-size-h3-title,
  "h4": $font-size-h4-title,
  "h5": $font-size-h5-title,
  "h6": $font-size-h6-title,
);

@each $title, $size in  $titles{
  #{$title}{
   font-family:$lato;
	color:$color_text-gray;
  }
}

.title-border{
  padding-bottom:10px;
  border-bottom:1px solid $color_foo_border;
}